<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>
<body>
    <h1>Por favor ingrese su usuario y passwords</h1>
    <form  action="/register" method="post">
        Username:<br>
  	  <input type="text" name="username" placeholder="Username" required><br><br>
  	  Password:<br>
  	  <input type="password" name="password" placeholder="Password" required><br><br>
  	  <input type="submit" value="register">

        <!-- <label  for="nombre">Nombre:</label><br>
        <input  type="text" id="nombre" name="nombre" value="" required><br>    
        <input  type="submit" value="Enviar"> -->
    </form> 
    
</body>
</html>